// Define variables for your color scheme

// color use by bootstrap:
$red: #FD1015;
$blue: #64C9CF;
$yellow: #FFC65A;
$orange: #8DCBE6;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$full-white: rgb(252, 252, 252);
$dark-blue: #00008B;
