// Specific CSS for your home-page

body {
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   color: darkblue;
   background-size: cover;
   background-repeat: no-repeat;
   margin-bottom: 0%;
}

// If category / index in the home page, linear background gradient proposition :

//   background: #ff5f6d;
//   background: -webkit-linear-gradient(to right, #ff5f6d, #ffc371);
//   background: linear-gradient(to right, #ff5f6d, #ffc371);
//   min-height: 100vh;




h1 {
  float: left;
  color: darkblue;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 5px ;
  text-align: left !important;
  width: 100%;
}

.button {
  display: flex;
  //flex-direction: column;//only vertical
  align-items: center;//both vertical and horizonal

}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 960px;
  background-repeat: no-repeat;
}

.banner h1 {
  margin: 0;
  color: rgb(34, 0, 255);
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  font-weight: bold;
  margin-right: 20px;
}

.banner p {
  font-size: 24px;
  color: #1f1404;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}


.container {
margin-left: 50px;

}

//footer


.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0px 50px;
  color: rgba(15, 7, 246, 0.896);
  padding-bottom: 0%;
}

.footer-links {
  display: flex;
  align-items: center;
  color: darkblue;
}
.footer-links a {
  color: rgb(248, 84, 14);
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-copyright {
  color: darkblue;
  height: 14px;
  font-weight: bold;
  font-family: Helvetica;
}


.footer-links a:hover {
  opacity: 1;
}

// footer end

// if contener nedeed on the home page, into the body :

.container_home {
  height: 500px;
}

.fab {
  color: darkblue;
  font-weight: bold;

}
