<div class="container-form6">
<section>
<div class="container-form7">
 <div class="col-12 col-md-10 offset-lg-1">
        <h5>Book your beach</h5>
        <%= simple_form_for [@beach, @booking] do |f| %>
          <%= f.input :start_date, placeholder: 'Start Date' %>
          <%= f.input :end_date, placeholder: 'End Date' %>
          <%= f.submit class: 'btn btn-flat' %>
        <% end %>
     </div>
	 </div>
</section>
</div>
