<div class="banner" style="background-image: url(https://images.unsplash.com/photo-1610901706220-3535ccb3ca7e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80);">
  <div class="container">
      <h1>Airbnbeach <strong>transports</strong> you <strong>to the paradise</strong>!</h1>
      <% if user_signed_in? %>
        <p><%= "Welcome #{current_user.user_name.capitalize}, discover all our beautifull and luxury beaches around the world"%></p>
      <% else %>
        <p>Discover all our beautifull and luxury beaches around the world</p>
      <% end %>
      <%= button_to "Discover", "beaches", method: :get, class: "ms-2 btn-discover" %>
  </div>
</div>


 <!-- If elements nedeed on the home page :
 <div class="container_home"
 </div> -->
