< <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" />
</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="/users/sign_in">Login</a>
          </li>
      </ul>
    </div>
  </div>


  <div class="text-left text-white">

    <h3 class="typed-js" data-controller="typed-js"></h3>
  </div>
</div>


<button type="button" class="btn btn-primary btn-lg">Propose your beaches</button>
</div>

<button type="button" class="btn btn-primary btn-lg">Find your beach paradise</button>
</div>
