  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
      <a class="navbar-brand" href="#"> AIRBNBEACH
      <img src="https://zupimages.net/up/23/03/nval.png" alt="AIRBNBEACH" />
</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
       <a class="fa-light fa-globe" href="#"> Find your next destination directly on the map </a>


  <div class="ms-auto flex">
        <form class="flex my-2 my-lg-0">
          <input class="form-control me-2" name="query" type="search" placeholder="Search" aria-label="Search" value="">
          </div>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <a class="btn btn-outline-primary my-2 my-sm-0 ms-2" href="/beach/new">Add Beach</a>
    </div>
  </div>
      <ul class="navbar-nav me-auto">
          <li class="nav-item">
           <a class="btn btn-primary" href="/users/sign_in" role="button">Login</a>
          </li>
      </ul>
    </div>
   </div>
  </div>

<div class="banner" style="background-image: url(https://images.unsplash.com/photo-1610901706220-3535ccb3ca7e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80);">
  <div class="container">
     <h1>Airbnbeach <strong>transports</strong> you <strong>to the paradise</strong>!</h1>
     <p>Discover all our beautifull and luxury beaches auround the world</p>
      <button type="button" class="btn btn-primary btn-lg" href="#">Discover</button>
  </div>
</div>

 <!-- If elements nedeed on the home page :
 <div class="container_home"
 </div> -->

 <div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
   Airbnbeach team <i class="fa-solid fa-umbrella-beach"></i> 2023
  </div>
</div>
