.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 960px;
  background-repeat: no-repeat;
}

.banner h1 {
  margin: 0;
  color: $full-white;
  font-size: 36px;
  font-weight: bold;
  margin-right: 20px;
  text-indent: -50px;
  text-transform: uppercase;
}

.banner p {
  font-size: 24px;
  color: $white;
  margin-right: 20px;
  text-indent: -50px;

}

h4{

color: $full-white;
font-weight: bold;
font-size: x-large;
margin-right: 20px;
text-indent: -50px;
margin: 0;
text-transform: uppercase;
}
