.button {
  display: flex;
  //flex-direction: column;//only vertical
  align-items: center;//both vertical and horizonal
  border-radius: 10px;
}


// Button for sign in form

.btn {

  color: $light-gray;
  border-width:1px;
  border-style:dotted;
  border-color:$blue;
  background-color: $orange;

}


.btn a:hover {
  color: $light-gray;
  border-width:1px;
  border-style:dotted;
  border-color:$blue;
  background-color: $orange;
}


.form-actions {

 color: $blue;
 border-color:$blue;
 font-weight: bold;
}

.btn-lg {

margin-right: 150px;
margin-left: -50px;
display: block;
}

.btn2 {

 font-family: 14px;
 color: $light-gray;
 border-width:2px;
 border-style:double;
 background-color: $blue;
 display: block;
 margin-right: 5px;
 width: 60px;
 height: 35px;
 text-decoration: none;
 text-align: center;

  }

.btn-index {
  text-align: center;
}

.btn-reserve {
  text-decoration: none;
  background-color: $orange;
  padding: 8px;
  margin-top: 8px;
  color: white;
  width: 100%;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
}

.btn-reserve:hover {
  background-color: $blue;
  color: white;
}

.trash-btn {
  font-size: 36px;
  position: absolute;
  right: 16px;
  top: 8px;
  color: $orange;
}

.trash-btn:hover {
  color: $red;
}

.map-btn {
  position: fixed;
  bottom: 50px;
  right: 25px;
  width: 120px;
  transition: 0.5s ease-in-out;
}

.map-btn:hover {
  width: 140px;

}

.btn-discover {
  color: $blue;
  border-width:1px;
  border-style:dotted;
  border-color:$blue;
  background-color: $full-white;
  font-weight: bold;
  margin-left: -50px;
  height: 40px;
  border-radius: 4px;
  font-size: large;
  text-align: center;
  padding: 0 16px 0 16px;
}

.btn-discover:hover {
  background-color: $blue;
  color: $full-white;
}
