.beach-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 16px;
}

.beach-card img {
  width: 100%;
}

.beach-card-body {
  padding: 2px 16px;
}

.beach-card-title {
  font-size: 22px;
}

.beach-card-location {
  font-size: 14px;
  color: gray;
}
