// if contener nedeed on the home page, into the body :

.container_home {
  height: 500px;
}

/* Index */
.container-beaches {
  justify-content: center;
}

/* Show */
.container-beach {
  background-color: white;
  border-radius: 15px;
  width: 90%;
  height: 400px;
  display: flex;
  margin: auto;
  justify-content: space-between;
}

.container-review {
  display: flex;
  background-color: white;
  width: 90%;
  margin: auto;
  padding: 16px;
  border-bottom: 4px solid $light-gray;
  border-radius: 5px;
}

/* footer-body interaction  */

body {
  min-height: 500px;
  margin-bottom: 50px;
  clear: both;
}
