// if contener nedeed on the home page, into the body :

.container_home {
  height: 500px;
}


// If category / index in the home page, linear background gradient proposition :

//   background: #ff5f6d;
//   background: -webkit-linear-gradient(to right, #ff5f6d, #ffc371);
//   background: linear-gradient(to right, #ff5f6d, #ffc371);
//   min-height: 100vh;

body {

  min-height: 400px;
   margin-bottom: 50px;
   clear: both;

}


section{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 120px 0;
}
h2{
	text-align: center;
	font-weight: 700;
	line-height: 2;
	font-family: roboto;
	margin: 0;

}
