// if contener nedeed on the home page, into the body :

.container_home {
  height: 500px;
}

/* Index */
.container-beaches {
  justify-content: center;
}

/* Show */
.container-beach {
  background-color: white;
  border-radius: 15px;
  width: 90%;
  height: 400px;
  display: flex;
  margin: auto;
  justify-content: space-between;
}
