.footer {
  background: $light-gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0px 50px;
  padding-bottom: 0%;
  position: fixed;
  bottom: 0;
  width: 100%;

}

.footer-links {
  display: flex;
  align-items: center;
  color: $blue;
  font-size: x-large;
}

.footer-links a {
  font-size: 24px;
  padding: 0px 10px;
}

.footer-copyright {
  color: $blue;
  height: 14px;
  font-weight: bold;
  font-family: Helvetica;
}

.footer-links a:hover {
  opacity: 1;
}


.fab {
  color: $blue;
  font-weight: bold;

}
