.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width:50px;
}

.nav-link {
  font-weight: bold;
  color: blue;
}

.navbar-nav me-auto {
  background-color: blue;
  align-items:flex-end;
 }

 .navbar-brand {
  height: auto;
  font-family: Helvetica;

 }
