.navbar-lewagon {
  justify-content: space-between;
  background: $white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width:50px;
  height: 50px;
  display: block;
  margin-left: 120px;
  position:absolute;
}

.nav-link {
  font-weight: bold;
  color: $blue;
}

.navbar-nav me-auto {
  background-color: $blue;
  align-items:flex-end;
 }

 .navbar-brand {
  height: auto;
  font-family: $body-font;
  font-weight: bolder;
  color: $orange;
  font-size: x-large;
  display:contents;
  padding-left: 20px;

 }

 .fa-light {

  color: $gray;
  padding-right: 50px;
  font-size: 18px;
  font-family: $body-font;

 }

 .toggler {
  position: fixed;
  z-index: 10;
  top: 8px;
  right: 24px;
  height: 48px;
  width: 48px;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
 }

 .line {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background: $orange;
  transition: transform 0.3s ease-out, opacity 0.1s ease-out;
 }

 .l1 {
  transform: translateY(-10px);
 }

 .l3 {
  transform: translateY(10px);
 }

 .toggler.active .l1 {
  transform: translateY(0px) rotate(135deg);
 }

 .toggler.active .l2 {
  opacity: 0;
 }

 .toggler.active .l3 {
  transform: translateY(0px) rotate(-135deg);
 }

.menu {
  position: fixed;
  top: 40px;
  right: 0px;
  width: 200px;
  min-height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: white;
  border-radius: 0 0 0 16px;
  transform: translateX(100%);
  transition: transform 0.3s cubic-bezier(0.73, 0.11, 0.67, 0.84);
 }

 .nav-link {
  text-decoration: none;
  border-bottom: 2px solid rgba(255, 0, 0, 0);
 }

 .nav-link:hover {
  border-bottom: 2px solid $orange;
 }

.menu.active {
  transform: translate(0);
 }

 .name {
  margin-right: 100px;
 }
