<div class="container">


  <h1>My beaches</h1>

  <div class="container-beaches row">
    <% @beaches.each do |beach| %>
      <div class="beach-card col-sm">
        <img src="https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1173&q=80" alt="beach plage">
        <div class="beach-card-body">
          <div class="beach-card-location">
            <%= beach.location %>
          </div>
          <%= link_to "Go to beach", beach_path(beach), class: "beach-card-title" %>
        </div>
      </div>
    <% end %>
  </div>



</div>
